@charset "utf-8";
/* CSS Document */

.container{
	width:981px;/*容器宽度*/
	margin:0 auto;/*容器居中*/
	height: 600px;
	border:#666 10px solid;
}

.top{
	font-size:20px;
	font-weight:bold;
	margin:40px 235px;	
}

a{
	text-decoration:none;
}

.body{
	width:770px;
	height:450px;
	margin:auto;
	border:#666 2px solid;
	}
	
.clearfix:after{/*应用于浮动元素的父级，目的是自动扩展父级高度*/
	content:"";
	display:block;
	clear:both;
}

.left{
	float:left;}

.left input{
	width:140px;
	height:50px;
	font-size:22px;
	font-weight:bold;
	padding:10px;
	margin:50px 30px;
	}
.center{
	float:left;
	padding:120px 48px;
	
	}
.center input{
	width: 170px;
	height: 23px;
	}
#special{
	width:90px;
	height:30px;
	margin-left:80px;
	}
.right{
	float:right;
	}
.right input{
	width:140px;
	height:50px;
	font-size:22px;
	font-weight:bold;
	padding:10px;
	margin:50px 30px;
	}