<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.entity.Emp">
  <select id="queryEmps" parameterType="map" resultMap="EmpMap">
  	select * from emp e inner join dept d on e.deptno = d.deptno limit #{currentPage} , #{pageSize}
  </select>
  
  <insert id="addEmp" parameterType="Emp">
  	insert into emp values(null , #{ename} , #{job} , #{sal} , #{comm} , #{mgr} , #{hiredate} , #{dept.deptno});
  </insert>
  
  <select id="getCount" resultType="int">
  	select count(e) from emp e inner join dept d on e.deptno = d.deptno
  </select>
  
  <resultMap type="Emp" id="EmpMap" autoMapping="true">
  	<id property="empno" column="empno"/>
  	<result property="ename" column="ename"/>
  	<association property="dept" column="deptno" javaType="Dept" resultMap="DeptMap"></association>
  </resultMap>
  <resultMap type="Dept" id="DeptMap" autoMapping="true">
  	<id property="deptno" column="deptno"/>
  	<result property="dname" column="dname"/>
  </resultMap>
</mapper>
